{% extends 'musicapp/song/base.html' %}
{% load static %}

{% block title %}
    {% if artist %}
        {{ artist.name }}
    {% else %}
        All Songs 
    {% endif %}
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <h3>Artists</h3>
        <ul>
            <li><a href="{% url 'musicapp:artists' %}">All</a></li>
            {% for artist in artists %}
                <li><a href="{% url 'musicapp:artist_songs' artist.name %}">{{ artist.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <h3>Playlists</h3>
        <ul>
            <li><a href="{% url 'musicapp:playlists' %}">All</a></li>
            {% for playlist in playlists %}
                <li><a href="{% url 'musicapp:playlist_songs' playlist.name %}">{{ playlist.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <h3>Albums</h3>
        <ul>
            <li><a href="{% url 'musicapp:albums' %}">All</a></li>
            {% for album in albums %}
                <li><a href="{% url 'musicapp:album_songs' album.name %}">{{ album.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <h3>
            Latest Songs
        </h3>

        {% for song in latest_songs %}
            <li>
                <a href="{{ song.get_absolute_url }}">{{ song.name }}</a>
            </li>
        {% endfor %}
    </div>
</div>


{% endblock %}